{% extends "base.html" %}

{% block title %}Formulario Produto{% endblock  %}

{% block content %}
<div class= "containerForm">

    {% comment %} peguei do chat tem que estudar o codigo ainda mas ta funcionando  {% endcomment %}
    <h1>
        {% if object %}
        Editar Produto
        {% else %}
        Criar Produto
        {% endif %}
    </h1>

    {% if object and object.imagem %}
    <div class="imagemAtualBox">
        <p>Imagem atual:</p>
        <img src="{{ object.imagem.url }}" alt="{{ object.nome }}" class="imagemAtualProduto">
    </div>
    {% endif %}
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form.as_p }}
        {{forms.errors}}
        
        <button type="submit">Salvar</button>
    </form>
    
    <a href="{% url 'lista_produtos' %}">Voltar</a>
</div>
{% endblock content %}

