{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Loja Virtual{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/base.css' %}?v=20260428">
    <link rel="stylesheet" href="{% static 'core/produtos.css' %}?v=20260428">
    <link rel="stylesheet" href="{% static 'core/form.css' %}?v=20260428">
    <link rel="stylesheet" href="{% static 'core/confirm_delete.css' %}?v=20260428">
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
